@import "tailwindcss";

@theme {
  --inset-shadow-md: inset 0 1px 2px rgba(0, 0, 0, 0.18); 
}

body {
  background-color: #EBEBEB;
}

.frame-padding {
  @apply px-7 pt-7 pb-24 lg:px-11 lg:py-10 md:pl-[18rem] lg:pl-[21rem];
}

.menu-item {
  @apply p-2 my-2 bg-[#9F7D38] hover:bg-[#8d6d2e] rounded-md text-white text-lg text-left text-shadow-sm font-normal cursor-pointer;
}

.menu-item-mobile {
  @apply rounded-md text-white text-xs text-center cursor-pointer sm:text-sm;
}

.title-card {
  @apply text-[14px] text-[#7F7414] font-bold md:text-base lg:px-3 lg:text-xl;
}

.information-logo {
  @apply w-[1rem] h-auto cursor-pointer;
}

.draupnir-token {
  @apply w-[8rem] h-auto;
}

.main-button {
  @apply font-bold text-white bg-[#C39F4A] hover:bg-[#9c854e] rounded-lg cursor-pointer;
}

.goal-target-text {
  @apply bg-white text-gray-400 rounded-xl p-3.5 inset-shadow-md;
}

/* DatePicker Styles */

.react-datepicker {
  @apply border-2 rounded-lg border-black;
}

.react-datepicker__header {
  @apply bg-white border-b-2;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%;
}

.custom-calendar .react-datepicker__header {
  background-color: #C39F4A;
  padding: 10px ;
}

.custom-calendar .react-datepicker__current-month {
  color: #ffffff !important;
  font-weight: bold !important;
}

.custom-calendar .react-datepicker__day-name {
  color: #000000 !important;
}

.custom-calendar .react-datepicker__navigation-icon::before {
  border-color: white; /* change arrow color */
}

.custom-calendar .react-datepicker__navigation:hover
  .react-datepicker__navigation-icon::before {
  border-color: #d4d4d4;
}